{% extends 'base.html.twig' %}

{% block title %}Accueil : Liste des taches{% endblock %}
{% block body_id 'index' %}

{% block body %}
    <div class="w-50 m-auto mb-4">
        {% if app.user %}
            <div class="d-flex justify-content-between align-items-center my-4">
                <h1 class="fs-3 fw-bold">
                    <a href="{{ path('app_task_index') }}" class="text-decoration-none text-light"><i class="bi bi-house"></i>&nbsp;&nbsp;Todo list</a>
                </h1>
                <div class="dropdown">
                    <a href="#" class="" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle fs-3"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><span class="dropdown-item">{{ app.user.email }}</span></li>
                        <li><a href="{{ path('app_logout') }}" class="dropdown-item"><i class="bi bi-box-arrow-left"></i>&nbsp;&nbsp; Déconnexion</a></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bg-dark active" id="pills-tasks-tab" data-bs-toggle="pill" data-bs-target="#pills-tasks" type="button" role="tab" aria-controls="pills-tasks" aria-selected="true">Tâches</button>
                    </li>
                    <li class="nav-item mx-1" role="presentation">
                        <button class="nav-link bg-dark" id="pills-todo-tab" data-bs-toggle="pill" data-bs-target="#pills-todo" type="button" role="tab" aria-controls="pills-todo" aria-selected="false">A faire</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bg-dark" id="pills-important-tab" data-bs-toggle="pill" data-bs-target="#pills-important" type="button" role="tab" aria-controls="pills-important" aria-selected="false">Important</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-tasks" role="tabpanel" aria-labelledby="pills-tasks-tab" tabindex="0">
                        <div class="mb-4">
                            {% for task in tasks %}
                                {% if task.isEnd == false %}
                                    <div class="d-flex justify-content-between px-2 py-1 bg-dark mb-1 align-items-center">
                                        <div class="d-flex align-items-center w-100">
                                            {% include 'task/_end_form.html.twig' %}
                                            {% include 'task/_edit_form.html.twig' %}
                                        </div>
                                        <div class="d-flex align-items-center">
                                            {% include 'task/_delete_form.html.twig' %}
                                            {% include 'task/_important_form.html.twig' %}
                                            {% include 'task/_todo_form.html.twig' %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p class="bg-dark p-2 w-100">Aucune tâche enregistre...</p>
                            {% endfor %}
                        </div>
                        <div class="mb-4">
                            {% if tasksEnd | length >= 1 %}
                                <p>
                                    <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#list-tasks-end" aria-expanded="false" aria-controls="list-tasks-end">
                                        <i class="bi bi-chevron-down"></i>&nbsp; Terminées {{ tasksEnd | length }}
                                    </button>
                                </p>
                            {% endif %}
                            <div class="collapse" id="list-tasks-end">
                                <div class="card">
                                    {% for task in tasksEnd %}
                                        <div class="d-flex justify-content-between px-2 bg-dark mb-1 align-items-center">
                                            <div class="d-flex align-items-center w-100 text-decoration-line-through">
                                                {% include 'task/_end_form.html.twig' %}
                                                {% include 'task/_edit_form.html.twig' %}
                                            </div>
                                            <div class="d-flex align-items-center">
                                                {% include 'task/_delete_form.html.twig' %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-todo" role="tabpanel" aria-labelledby="pills-todo-tab" tabindex="0">
                        <div class="mb-4">
                            {% for task in tasksTodo %}
                                <div class="d-flex justify-content-between px-2 bg-dark mb-1 align-items-center">
                                    <div class="d-flex align-items-center w-100">
                                        {% include 'task/_end_form.html.twig' %}
                                        {% include 'task/_edit_form.html.twig' %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        {% include 'task/_delete_form.html.twig' %}
                                        {% include 'task/_important_form.html.twig' %}
                                        {% include 'task/_todo_form.html.twig' %}
                                    </div>
                                </div>
                            {% else %}
                                <p class="bg-dark p-2 w-100">Aucune tâche à faire...</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-important" role="tabpanel" aria-labelledby="pills-important-tab" tabindex="0">
                        <div class="mb-4">
                            {% for task in tasksImportant %}
                                <div class="d-flex justify-content-between px-2 bg-dark mb-1 align-items-center">
                                    <div class="d-flex align-items-center w-100">
                                        {% include 'task/_end_form.html.twig' %}
                                        {% include 'task/_edit_form.html.twig' %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        {% include 'task/_delete_form.html.twig' %}
                                        {% include 'task/_important_form.html.twig' %}
                                        {% include 'task/_todo_form.html.twig' %}
                                    </div>
                                </div>
                            {% else %}
                                <p class="bg-dark p-2 w-100">Aucune tâche important...</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {{ include('task/_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
